<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    

    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Blockchain</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="{{url_for('index')}}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('create_user')}}">Create user</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('transaction')}}">Add transaction</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('create_user')}}">Check integrity</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('blockchain')}}">Blockchain</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Nodes</a>
              </li>
          </ul>
        </div>
      </nav>
    <div class="container my-container">
    {% block content %}{% endblock %}
    {% block transacton %} {% endblock %}
    {% block private %} {% endblock %}
    {% block create %} {% endblock %}
    {% block blockchain %}{% endblock %}
    </div>
</body>
</html>