{% extends 'base.html' %}

{% block blockchain %}
<br>
<a href="{{url_for('check_integrity')}}"><button type="button" class="btn btn-primary btn-lg">check
        integrity</button></a>
<br><br><br>

{% for block in blocks %}

<div class="alert alert-primary" role="alert">
{% for key in blocks[block] %}
    <p>{{ key }} {{blocks[block][key]}}</p>
{% endfor %}
<a href="{{url_for('edit',num=block)}}"><button type="button" class="btn btn-primary btn-lg">check
    integrity</button></a>
</div>  

{% endfor %}

{% endblock %}