
{% extends 'base.html' %}

{% block create %}

  <div class="alert alert-light" role="alert">
    Let's imagine that in this system every new user receive 100 coins. When new user registers with the system, he receives a public key. It is needed so that other participants can transfer funds to the user. But access to funds can only be obtained by someone who has a private key
  </div>
<form action="{{ url_for('index') }}" method="POST" class = "my-form">
    <div class="form-group">
        <label for="exampleInputEmail1">Create new user</label>
        <input type="text" class="form-control" id="lender" aria-describedby="emailHelp" placeholder="Enter name"
            name="name">
        <small id="emailHelp" class="form-text text-muted">This form will create a new user with public and private
            keys</small>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>

<br>
<br>
<br>
<h4>All members</h4>
<ul class="list-group">
    {% for user in users %}
    <li class="list-group-item">Name: {{user.name}} | Public key:{{user.public_key}} | Balance {{user.balance}}</li>
    {% endfor %}
  </ul>

{% endblock %}
