
{% extends 'base.html' %}

{% block create %}
<form action="{{ url_for('index') }}" method="POST">
    <div class="form-group">
        <label for="exampleInputEmail1">User</label>
        <input type="text" class="form-control" id="lender" aria-describedby="emailHelp" placeholder="Enter name"
            name="name">
        <small id="emailHelp" class="form-text text-muted">This form will create a new user with public and private
            keys</small>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<div class="all_users">
    {% for user in users %}
    <p>{{ user.public_key }} --- {{user.balance}}</p>
    {% endfor %}
</div>

{% endblock %}
