{% extends 'base.html' %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        {% block content %}
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-4">Fluid jumbotron</h1>
              <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
            </div>
        </div>
        <form action="{{ url_for('index') }}" method="POST">
            <div class="form-group">
                <label for="exampleInputEmail1">User</label>
                <input type="text" class="form-control" id="lender" aria-describedby="emailHelp" placeholder="Enter name" name="name">
                <small id="emailHelp" class="form-text text-muted">This form will create a new user with public and private keys</small>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <div class="all_users">
            {% for user in users %}
                <p>{{ user.public_key }} --- {{user.balance}}</p>
        {% endfor %}
        
      
        </div>
        {% endblock %}
</body>
</html>