{% extends 'base.html' %}

{% block private %} 
    <div class="form-box">
<form action-'/transaction/private' method="POST">
    <input class="form-control" type="text" placeholder="{{from_whom}}" readonly>
    <input class="form-control" type="text" placeholder="{{to_whom}}" readonly>
    <input class="form-control" type="text" placeholder="{{amount}}" readonly>
    <div class="form-group">
        <label for="exampleInputPassword1">Private Key</label>
        <input type="password" class="form-control" id="private" placeholder="Enter Private key" name="private">
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
        <label class="form-check-label" for="inlineCheckbox1">Node1</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
        <label class="form-check-label" for="inlineCheckbox2">Node2</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
        <label class="form-check-label" for="inlineCheckbox2">Node3</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
        <label class="form-check-label" for="inlineCheckbox2">Node4</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
        <label class="form-check-label" for="inlineCheckbox2">Node5</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
        <label class="form-check-label" for="inlineCheckbox2">Node6</label>
      </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
<p>{{sender_private_key}}</p>
<p>{{confirmation}}</p>
<p>{{wrong}}</p>

{% endblock %}

