{% extends 'base.html' %}

{% block transacton %}
<div class="form-box">
    <form action-'/transaction' method="POST">
        <div class="form-group">
        <label for="exampleInputPassword1">From</label>
        <select class="form-control" id="exampleFormControlSelect1">

           
                {% for key in keys %}
                <option name="from">{{key}}</option> 
                {% endfor %}
        </select>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">To</label>
            <select class="form-control" id="exampleFormControlSelect1">
    
               
                    {% for key in keys %}
                    <option name="to">{{key}}</option> 
                    {% endfor %}
            </select>
            </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Amount</label>
            <input type="text" class="form-control" id="amount" placeholder="Borrower" name="amount">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>

    </form>
</div>
{{confirm}}
{{keys}}
{% endblock %}